<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854591732282-obudqt6v645qahlar7cl8o2oojg7v0dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854591732282-obudqt6v645qahlar7cl8o2oojg7v0dl</string>
	<key>API_KEY</key>
	<string>AIzaSyAgBYqx7YJI_TjjuBRVsDFyFZa0mkOUmEc</string>
	<key>GCM_SENDER_ID</key>
	<string>854591732282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catTinder</string>
	<key>PROJECT_ID</key>
	<string>cattinder-503c4</string>
	<key>STORAGE_BUCKET</key>
	<string>cattinder-503c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854591732282:ios:eb91cf833e926ae7679303</string>
</dict>
</plist>